{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.css') }}">
{% endblock %}       
{% block body %}
    
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ url('add') }}">{% trans %}Añadir{% endtrans %}</a> | 
    {% endif %}
    
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <a href="{{ url('list') }}">{% trans %}Listar{% endtrans %}</a> |
    <a href="{{ url('logout') }}">{% trans %}Salir{% endtrans %}</a>
    {% endif%}       
    
    <div class="container-fluid">
    {% block container %}{% endblock %}
    </div>
{% endblock %}
{% block javascripts %}

    <script src="{{ asset('asset/bootstrap/js/bootstrap.js') }}"></script>

{% endblock %}
