{% extends "layout.html.twig" %}

{% block title %}{% trans %}Listar clave{% endtrans %}{% endblock %}

{% block container %}
    <h1>{% trans %}Gestor de claves{% endtrans %}</h1>    

    {% for message in app.flashes('notice') %}
        <div class="alert alert-info" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <table class="table">
        <thead>
            <tr>
                <th scope="col">{%trans%}nombre{% endtrans %}</th>
                <th scope="col">{% trans %}username{% endtrans %}</th>
                <th scope="col">{% trans %}password{% endtrans %}</th>
                <th scope="col">{% trans %}email{% endtrans %}</th>
                <th scope="col">{% trans %}commentario{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for key, item in registers%}
                <tr>
                    <th scope="row">{{key}}</th>
                    <td>{{ (item.username is defined)? item.username : '' }}</td>
                    <td>{{ (item.password is defined)? item.password : '' }}</td>
                    <td>{{ (item.email is defined)? item.email : '' }}</td>
                    <td>{{ (item.comment is defined)? item.comment: '' }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
